div {
    margin-bottom: 1em;
    text-align: justify;
}

form {
    float: left;
    margin-left: 2em;
}
.vi {
    width: 40%;
    height: 1em;
    float: left;
    border: 2px solid black;
    margin-right: em;
}