div {
    margin-bottom: 1em;
    text-align: justify;
}

form {
    float: left;
    margin-left: 2em;
}
#vide {
    width: 40%;
    height: 25em;
    float: left;
    border: 2px solid black;
    margin-right: 16em;
}