#cadre {
    border: 1px solid red;
}

#bloc {
    width: 20px;
    height: 40px;
    background: red;
    position: relative; /* Permettra de décaler le bloc 将允许移动块*/
    left: 0px; /* Initialise la position gauche du bloc à déplacer 初始化要移动的块的左侧位置*/
}
